# In the "Setup .npmrc" step:
run: |
  echo "@${{ github.repository_owner }}:registry=https://npm.pkg.github.com/" > .npmrc
  echo "//npm.pkg.github.com/:_authToken=${{ secrets.NPM_TOKEN }}" >> .npmrc

# And in the "Publish package" step:
env:
  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}